.item {
    width: 145px;
    height: 145px;
    padding: 0px 10px;
}
.media {
    display: flex;
    border-radius: 3px;
    align-items: center;
    background-color: #fff;
    padding: 10px 0px 10px 20px;
    border: 1px solid rgba(0,0,0,.125);
    transition: border .5s ease-in-out;
}
.media:hover {
    border: 1px solid black;
}
.pagos > .btn {
    width: 100%;
}
.btn-outline-success {
    height: 45px;
}
.btn-outline-danger {
    height: 30px;
    display: flex;
    font-size: 12px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.resumen {
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
    justify-content: center;
}
.trash {
    margin-left: 7px;
    margin-top: -15px;
    border-radius: 0 3px 3px 0;
}
.pen {
    margin-left: -3px;
    border-radius: 0 3px 3px 0;
    border-color: rgb(0, 0, 0, .125);
    background-color: rgb(13, 205, 223, 0.8);
}
.pen:hover {
    background-color: rgb(13, 205, 223, 1);
}
.fa-pen {
    color: #fff;
}
.input-price, .input-quantity {
    width: 75%;
}
.input-group-text, .form-control{
    margin-left: -3px;
}
.total {
    margin-top: 10px;
    margin-bottom: 10px;
}
.producto {
    font-size: 20px;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.controls, .btn-center {
    display: flex;
    justify-content: center;
}
.control {
    display: flex;
    justify-content: flex-end;
}
.btn-success {
    width: 360px;
}
.fas {
    margin-left: 0px;
}
.input-group-prepend {
    margin-left: -1px;
}
.input-group-text {
    border-radius: 0 3px 3px 0 !important;
}