body {
    font-family: "Patrick Hand", sans-serif;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
}

form {
    margin-left: 10px;
}

.searchSection {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    right: 0;
    width: 100%;
}

.form-control {
    border-color: rgb(115, 73, 18) !important;
    color: rgb(115, 73, 18) !important;
}

.quantityInput {
    border-color: rgb(115, 73, 18) !important;
    height: auto !important;
    margin: 0px -2px 0px -2px !important;
    margin: 5px !important;
}

#quantity {
    width: 40% !important;
}

.buttons>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchButton {
    width: 300px;
}

.btn.accept-button.btn.btn-success {
    width: 40%;
    background-color: rgb(189, 222, 135) !important;
    border: 1px solid rgb(18, 115, 47) !important;
    font-family: patrick hand;
    margin: 5px;
}

.btn.accept-button.btn.btn-success:active,
.btn.accept-button.btn.btn-success:focus,
.btn.accept-button.btn.btn-success:hover {
    background-color: rgb(130, 219, 46) !important;
    border: 1px solid rgb(10, 112, 18) !important;
    font-family: patrick hand;
    box-shadow: 0 0 0 .1rem rgba(31, 110, 15, 0.5) !important;
    margin: 5px;
}

.buttons {
    text-align: end;
    align-self: center;
    display: flex;
    justify-content: center;
}

.form {
    margin-left: 10px;
}

/* card */

.card {
    padding: 1px;
    width: 220px;
    max-width: 300px;
    border: 1px solid rgba(0, 0, 0, .125);
    transition: border .5s ease-in-out;
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    margin: 10px;
    font-family: "Patrick Hand", sans-serif;
    font-size: 1.5rem;
}

.card-title {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: burlywood;
    border-radius: 10px 10px 10px 10px;
}

.form-check-input {
    position: absolute;
    margin-top: .9rem !important;
    margin-left: -1.25rem;
}


.card:hover {
    border: 1px solid black;
}

.card-body {
    padding: .5rem;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.card-img-top {
    height: 200px;
    max-height: 200px;
    max-width: 250px;
}

#mainList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.carousel-item {
    max-height: 400px;
}

.carousel-inner {
    margin-bottom: 50px;
}

.large-image {
    height: 600px;
    width: 100% !important;
}

.precio {
    bottom: 0px;
}

.controls,
.btn-center,
.Page.navigation {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.control {
    display: flex;
    justify-content: flex-end;
}

.fas {
    margin-left: 0px;
}

.input-group-prepend {
    margin-left: -1px;
}

.input-group-text {
    border-radius: 0 3px 3px 0 !important;
}

.btn-success {
    width: 360px;
}

.userPart {
    display: flex;
    flex-flow: row;
}

/* Navigation Left*/
.navbar {
    padding: 0px 20px;
    /*position: fixed;*/
    top: 0;
    background-color: antiquewhite;
}

.logo {
    margin-right: 20px;
    cursor: pointer;
}

.form-control {
    width: 100% !important;
}

.form-inline {
    position: relative;
}

.fa-search {
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
}

/* Navigation Right*/
.login,
.signUp {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0px 8px;
    color: #000;
}

.login:hover,
.signUp:hover {
    color: #000;
    text-decoration: none;

}

.fa-shopping-cart,
.nav-link {
    color: #000 !important;
}

/* Carousel */
.carousel-item,
.carousel-inner {
    position: relative;
    width: 100%;
}

.textInBanner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

/* Footer */
.context-dark,
.bg-gray-dark,
.bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #ffffff;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.modal-content {
    background-color: burlywood;
    border: black;
    font-family: patrick hand;

}

.btn.login-button.btn.btn-success,
.btn.btn-success.mt-3 {
    background-color: burlywood !important;
    border: 1px solid rgb(115, 73, 18) !important;
    font-family: patrick hand;
}

.btn.login-button.btn.btn-success:active,
.btn.login-button.btn.btn-success:focus,
.btn.btn-success.mt-3:active,
.btn.btn-success.mt-3:focus {
    background-color: burlywood !important;
    border: 1px solid rgb(115, 73, 18) !important;
    font-family: patrick hand;
    box-shadow: 0 0 0 .2rem rgb(115, 73, 18, .5) !important;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items {
    margin-bottom: 50px;
}

.row-30 {
    margin-top: 50px;
}

.prepare {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coffeeStockContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    margin-bottom: 50px;
}

.productContainer {
    display: flex;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 10px 0px;
    border-style: dashed;
    width: 95%;
    margin: 10px;
}

.productImg {
    margin-left: 35px;
    max-width: 120px;
    max-height: 220px;
}

.coffeeIntormation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}

.productText {
    margin: 0px 20px;
}

.coffeeImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowProducts {
    padding: 15px !important;
}

form {

    width: 80%;

    margin-left: 10%;
}

.noProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Patrick Hand", sans-serif;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;

}