<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shopping_cart.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patrick Hand">
</head>

<body>
    <!--Navigation header-->
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div>
            <a href="home">
                <img class="logo" src="resources/logo.png" alt="Logo">
            </a>
        </div>

        <div class="flex-grow-1">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control" type="text" placeholder="Buscar café...">
                <i class="fas fa-search"></i>
                <!--<button class="btn btn-outline-light col-sm-3 col-lg-2" type="submit">Search</button>-->
            </form>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <div class="userPart">
                    <a class="login" href="#" data-toggle="modal" data-target="#ingresar">Iniciar sesión</a>
                    <a class="signUp" href="#" data-toggle="modal" data-target="#registrar">Registrarse</a>
                </div>
                <li>
                    <a class="nav-item">
                        <a class="nav-link" href="cart">
                            Carrito
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </a>
                </li>
            </ul>
        </div>
        <!--User Profile-->

    </nav>
    <!-- Login Modal -->
    <div class="modal fade" id="ingresar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Iniciar sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="">Correo</label>
                            <div class="input-group mb-3">
                                <input type="text" class="col-10 form-control" name="" id="" aria-describedby="helpId"
                                    placeholder="Ingresar correo">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fas fa-user    "></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <div class="input-group mb-3">
                                <input type="password" class="col-10 form-control" name="" id=""
                                    aria-describedby="helpId" placeholder="Ingresa tu contraseña">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i
                                            class="fas fa-key    "></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <button type="button" class="login-button btn btn-success"
                                    data-dismiss="modal">Iniciar sesión</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="dropdown-divider"></div>
                            <div class="col-md-12 control">
                                <div>
                                    No tienes una cuenta?
                                    <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#registrar">
                                        Registrate aquí!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign Up Modal -->
    <div class="modal fade" id="registrar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrarse</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="row">
                            <div class="col-6">
                                Nombre(s)
                                <input type="text" name="" id="" class="form-control" placeholder="Ingresa tu(s) nombre(s)"
                                    aria-describedby="helpId" required>
                            </div>
                            <div class="col-6">
                                Apellidos
                                <input type="text" name="" id="" class="form-control" placeholder="Ingresa tus Apellidos"
                                    aria-describedby="helpId" required>
                            </div>
                        </div>
                        <br>
                        Tu correo
                        <input type="mail" name="" id="" class="form-control mt-3" placeholder="Ingresa tú correo"
                            aria-describedby="helpId" required>
                        <br>
                        Contraseña
                        <input type="password" name="" id="" class="form-control mt-3"
                            placeholder="Ingresa tú contraseña" aria-describedby="helpId" required>
                        <br>
                        Confirma tu contraseña
                        <input type="password" name="" id="" class="form-control mt-3"
                            placeholder="Confirma tú contraseña" aria-describedby="helpId" required>

                        <div class="btn-center">
                            <button type="submit" class="btn btn-success mt-3">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Divider -->
    <div class="dropdown-divider"></div>
    <!-- Title -->
    <div class="resumen container">
        <h2>
            Resumen de compra
        </h2>
    </div>
    <!-- Products -->
    <div class="container">
        <div class="row">
            <div class="cards container col-md-8 col-12">
                <!-- Left -->
                <div class="productContainer">
                    <div class="coffeeImg">
                        <img class="productImg" src="resources/coffeeItems/peetsCoffee.jpg" alt="Peet's Coffee">
                    </div>
                    <div class="coffeeIntormation">
                        <h5 class="productTitle">Peet's Coffee</h5>
                        <div class="inputs">
                            <div class="input-quantity input-group mb-3">
                                <span class="input-group-text">Cantidad:</span>
                                <input type="number" class="quantityInput form-control" min="1" max="5" value="1" id="quantity" disabled>
                                <button class="pen btn btn-outline-secondary" type="button" for="quantity"
                                    name="quantity" id="button-addon2"><i class="fa fa-pen"
                                        aria-hidden="true"></i></button>
                            </div>
                            <div class="input-price input-group mb-3">
                                <span class="input-group-text">Precio:</span>
                                <input type="text" class="priceInput form-control " value="130.50">
                                <span class="input-group-text">$ m.n.</span>
                            </div>
                            <button class="btn btn-outline-danger d-flex">Eliminar producto</button>
                        </div>
                    </div>
                </div>
                <div class="productContainer">
                    <div class="coffeeImg">
                        <img class="productImg" src="resources/cofeeItems/kenyaAA.jpeg" alt="Peet's Coffee">
                    </div>
                    <div class="coffeeIntormation">
                        <h5 class="productTitle">Kenya AA</h5>
                        <div class="inputs">
                            <div class="input-quantity input-group mb-3">
                                <span class="input-group-text">Cantidad:</span>
                                <input type="number" class="quantityInput form-control" min="1" max="5" value="1" id="quantity" disabled>
                                <button class="pen btn btn-outline-secondary" type="button" for="quantity"
                                    name="quantity" id="button-addon2"><i class="fa fa-pen"
                                        aria-hidden="true"></i></button>
                            </div>
                            <div class="input-price input-group mb-3">
                                <span class="input-group-text">Precio:</span>
                                <input type="text" class="priceInput form-control " value="130.50">
                                <span class="input-group-text">$ m.n.</span>
                            </div>
                            <button class="btn btn-outline-danger d-flex">Eliminar producto</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right -->
            <div class="col-md-4">
                <div class="leftCard">
                    <div class="card-body">
                        <h5 class="card-title">Total de Compra</h6>
                            <div class="divider"></div>
                            <div class="infoProduct">
                                <p class="coffeeTitle"><i>Peet's Coffee</i></p>
                                <div class="totalProduct">
                                    <p class="quantityText card-text">1</p>
                                    <p class="priceText card-text">$130.00</p>
                                </div>
                            </div>
                            <div class="infoProduct">
                                <p class="coffeeTitle"><i>Kenya AA</i></p>
                                <div class="totalProduct">
                                    <p class="quantityText card-text">1</p>
                                    <p class="priceText card-text">$1,038.00</p>
                                </div>
                            </div>
                            <div class="infoProduct">
                                <p class="coffeeTitle"><i>Costo de envío</i></p>
                                <div class="totalProduct">
                                    <p class="quantityText card-text"></p>
                                    <p class="priceText card-text">$60.00</p>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="infoProduct">
                                <p class="coffeeTitle"><i>Monto a pagar:</i></p>
                                <div class="totalProduct">
                                    <p class="quantityText card-text"></p>
                                    <p class="priceText card-text">$1,228.00</p><br>
                                </div>
                            </div>
                            <div class="pagos">
                                <button class="btn btn-outline-success">Pagar</button>
                                <button class="btn btn-outline-danger d-flex">Cancelar</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER-->
    <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                    <div class="pr-xl-4"><a class="brand" href="#"></a>
                        <p>We are coffee People.</p>
                        <!-- Rights-->
                        <p class="rights"><span>©  </span><span class="copyright-year">2021</span>
                            <span> </span><span>Company</span><span>
                                - </span><span>All Rights Reserved.</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Contacts</h5>
                    <dl class="contact-list">
                        <dt>Address:</dt>
                        <dd>Anillo Perif. Sur Manuel Gómez Morín 8585, Santa María Tequepexpan, 45604 San Pedro
                            Tlaquepaque, Jal.</dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>email:</dt>
                        <dd><a href="mailto:coffee4home@gmail.com">coffee4home@gmail.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>phones:</dt>
                        <dd><a href="tel:+52 1 452 107 5541">+52 1 452 107 5541</a> <span>or</span> <a href="tel:+52 1 33 1242">+52 1 33 1242
                                1332</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 col-xl-3">
                    <h5>Links</h5>
                    <ul class="nav-list">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
<!--MEDIA OBJECT bootstrap -->