<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/Producti.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patrick Hand">
</head>

<body>
    <!--Navigation header-->
    <nav class="navbar navbar-expand-sm navbar-dark">
        <img class="logo" src="/app/Resources/logo.png" href="/app/views/html/shopping_cart.html" alt="Logo">

        <div class="flex-grow-1">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control" type="text" placeholder="Search coffee...">
                <i class="fas fa-search"></i>
                <!--<button class="btn btn-outline-light col-sm-3 col-lg-2" type="submit">Search</button>-->
            </form>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <div class="userPart">
                    <a class="login" href="#" data-toggle="modal" data-target="#ingresar">Login</a>
                    <a class="signUp" href="#" data-toggle="modal" data-target="#registrar">Sign up</a>
                </div>
                <li>
                    <a class="nav-item">
                        <a class="nav-link" href="/app/views/html/shopping_cart.html">
                            Cart
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </a>
                </li>
            </ul>
        </div>
        <!--User Profile-->

    </nav>

    <!-- Login Modal -->
    <div class="modal fade" id="ingresar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="">Correo</label>
                            <div class="input-group mb-3">
                                <input type="text" class="col-10 form-control" name="" id="" aria-describedby="helpId"
                                    placeholder="Ingresar correo">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fas fa-user    "></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <div class="input-group mb-3">
                                <input type="password" class="col-10 form-control" name="" id=""
                                    aria-describedby="helpId" placeholder="Enter your password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i
                                            class="fas fa-key    "></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <button type="button" class="login-button btn btn-success"
                                    data-dismiss="modal">Login</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="dropdown-divider"></div>
                            <div class="col-md-12 control">
                                <div>
                                    No tienes una cuenta?
                                    <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#registro">
                                        Registrate aquí!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign Up Modal -->
    <div class="modal fade" id="registrar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="row">
                            <div class="col-6">
                                Nombre(s)
                                <input type="text" name="" id="" class="form-control" placeholder="Ingresa tu Nombre"
                                    aria-describedby="helpId" required>
                            </div>
                            <div class="col-6">
                                Apellidos
                                <input type="text" name="" id="" class="form-control" placeholder="Ingresa tu Apellidos"
                                    aria-describedby="helpId" required>
                            </div>
                        </div>
                        <br>
                        Tu correo
                        <input type="mail" name="" id="" class="form-control mt-3" placeholder="Ingresa tu Tu correo"
                            aria-describedby="helpId" required>
                        <br>
                        Contraseña
                        <input type="password" name="" id="" class="form-control mt-3"
                            placeholder="Ingresa tu Contraseña" aria-describedby="helpId" required>
                        <br>
                        Confirma tu contraseña
                        <input type="password" name="" id="" class="form-control mt-3"
                            placeholder="Confirma tu contraseña" aria-describedby="helpId" required>

                        <div class="btn-center">
                            <button type="submit" class="btn btn-success mt-3">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Carrousel -->
    <div id="carouselId" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
            <li data-target="#carouselId" data-slide-to="1"></li>
            <li data-target="#carouselId" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active coffee">
                <div class="textInBanner">
                    <h4>Search the coffee YOU want</h4>
                    <h5>Search by any andl all criteria</h5>
                </div>
                <img class="large-image" src="/app/Resources/Cofee Items/Banner1.jpg" alt="First slide">
            </div>

            <div class="carousel-item">
                <div class="textInBanner">
                </div>
                <img class="large-image" src="/app/Resources/Cofee Items/Banner2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <div class="textInBanner">
                </div>
                <img class="large-image" src="/app/Resources/Cofee Items/Banner3.jpg" alt="Third slide">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="items container col-6" id="mainList">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tipo de Café</h5>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="exampleCheck1">
                        <input class="form-check-input" type="radio" name="flexRadioTC" id="Café-capsulas">
                        <label class="form-check-label" for="Café-capsulas">
                            Café en capsulas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioTC" id="Cafe-grano">
                        <label class="form-check-label" for="Cafe-grano">
                            Café en grano
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioTC" id="Cafe-instantaneo" checked>
                        <label class="form-check-label" for="Cafe-instantaneo">
                            Café instantaneo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioTC" id="Cafe-molido">
                        <label class="form-check-label" for="Cafe-molido">
                            Café molido
                        </label>
                    </div>
                </div>
            </div>



            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tipo de Grano </h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioTG" id="arabico">
                        <label class="form-check-label" for="arabico">
                            arabico
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioTG" id="mixta">
                        <label class="form-check-label" for="mixta">
                            mixta
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioTG" id="robusta" checked>
                        <label class="form-check-label" for="robusta">
                            robusta
                        </label>
                    </div>
                </div>
            </div>



            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Café local</h5>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Chiapas">
                        <label class="form-check-label" for="Chiapas">
                            Chiapas
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Colima">
                        <label class="form-check-label" for="Colima">
                            Colima
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Guerrero">
                        <label class="form-check-label" for="Guerrero">
                            Guerrero
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Jalisco" checked>
                        <label class="form-check-label" for="Jalisco">
                            Jalisco
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Hidalgo">
                        <label class="form-check-label" for="Hidalgo">
                            Hidalgo
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Nayarit">
                        <label class="form-check-label" for="Nayarit">
                            Nayarit
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Oaxaca">
                        <label class="form-check-label" for="Oaxaca">
                            Oaxaca
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Puebla">
                        <label class="form-check-label" for="Puebla">
                            Puebla
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="San-luis-potosi">
                        <label class="form-check-label" for="San-luis-potosi">
                            San luis potosí
                        </label>
                    </div>
                </div>
            </div>



            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Café Internacional</h5>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Brasil">
                        <label class="form-check-label" for="Brasil">
                            Brasil
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Colombia">
                        <label class="form-check-label" for="Colombia">
                            Colombia
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Estados-Unidos">
                        <label class="form-check-label" for="Estados-Unidos">
                            Estados unidos
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Etiopia">
                        <label class="form-check-label" for="Etiopia">
                            Etiopia
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Hawai">
                        <label class="form-check-label" for="Hawai">
                            Hawai
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Honduras">
                        <label class="form-check-label" for="Honduras">
                            Honduras
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="India">
                        <label class="form-check-label" for="India">
                            India
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Italia">
                        <label class="form-check-label" for="Italia">
                            Italia
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Indonesia">
                        <label class="form-check-label" for="Indonesia">
                            Indonesia
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Jamaica">
                        <label class="form-check-label" for="Jamaica">
                            Jamaica
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Kenia">
                        <label class="form-check-label" for="Kenia">
                            Kenia
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Ubicacion" id="Tanzania">
                        <label class="form-check-label" for="Tanzania">
                            Tanzania
                        </label>
                    </div>

                </div>
            </div>
        </div>

    </div>
    
    <!--FOOTER-->
    <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                    <div class="pr-xl-4"><a class="brand" href="index.html"></a>
                        <p>We are an award-winning creative agency, dedicated to the best result in web design,
                            promotion, business consulting, and marketing.</p>
                        <!-- Rights-->
                        <p class="rights"><span>©  </span><span class="copyright-year">2021</span>
                            <span> </span><span>Company</span><span>
                                - </span><span>All Rights Reserved.</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Contacts</h5>
                    <dl class="contact-list">
                        <dt>Address:</dt>
                        <dd>Anillo Perif. Sur Manuel Gómez Morín 8585, Santa María Tequepexpan, 45604 San Pedro
                            Tlaquepaque, Jal.</dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>email:</dt>
                        <dd><a href="mailto:#">coffee4home@gmail.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>phones:</dt>
                        <dd><a href="tel:#">+52 1 452 107 5541</a> <span>or</span> <a href="tel:#">+52 1 33 1242
                                1332</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 col-xl-3">
                    <h5>Links</h5>
                    <ul class="nav-list">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>




    <!-- Optional JavaScript -->
    <script src="../../controllers/data_handler.js"></script>
    <script src="../../controllers/products.js"></script>
    <script src="../../controllers/shopping_cart.js"></script>
    <script src="../../controllers/utils.js"></script>
    <!--<script src="../../controllers/index.js"></script>-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>