<!doctype html>
<html lang="en">

<head>
    <title>Coffee4Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patrick Hand">
</head>

<body>
    <!--Navigation header-->
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div>
            <a href="/">
                <img class="logo" src="resources/logo.png" alt="Logo">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <div class="userPart">
                    <a class="login" href="#" data-toggle="modal" data-target="#ingresar" id="barLogin">Iniciar sesión</a>
                    <a class="signUp" href="#" data-toggle="modal" data-target="#registrar" id="barRegister">Registrarse</a>
                    <a class="signOut" href="#" data-toggle="modal" id="barSignOut" hidden>Cerrar sesión</a>
                    <a class="myOrders" href="orders" data-toggle="modal" id="barMyOrders" hidden>Mis ordenes</a>
                </div>
                <li>
                    <a class="nav-item">
                        <a class="nav-link" href="cart">
                            Carrito
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </a>
                </li>
            </ul>
        </div>
        <!--User Profile-->

    </nav>
    <!-- Login Modal -->
    <div class="modal fade" id="ingresar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Iniciar sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="">Correo</label>
                            <div class="input-group mb-3">
                                <input type="text" class="col-10 form-control" name="loginMail" id="loginMail" aria-describedby="helpId"
                                    placeholder="Ingresar correo">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fas fa-user    "></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <div class="input-group mb-3">
                                <input type="password" class="col-10 form-control" name="loginPassword" id="loginPassword"
                                    aria-describedby="helpId" placeholder="Ingresa tu contraseña">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i
                                            class="fas fa-key    "></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <button type="button" class="login-button btn btn-success"
                                    data-dismiss="modal" id="loginButton">Iniciar sesión</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="dropdown-divider"></div>
                            <div class="col-md-12 control">
                                <div>
                                    No tienes una cuenta?
                                    <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#registrar">
                                        Registrate aquí!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign Up Modal -->
    <div class="modal fade" id="registrar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrarse</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="row">
                            <div class="col-6">
                                Nombre(s)
                                <input type="text" name="" id="firstname" class="form-control mt-1" placeholder="Ingresa tu(s) nombre(s)"
                                    aria-describedby="helpId" required>
                            </div>
                            <div class="col-6">
                                Apellidos
                                <input type="text" name="" id="lastname" class="form-control mt-1" placeholder="Ingresa tus Apellidos"
                                    aria-describedby="helpId" required>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                Tu correo
                                <input type="email" name="" id="email" class="form-control mt-1" placeholder="Ingresa tú correo"
                                    aria-describedby="helpId" required>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                Contraseña
                                <input type="password" name="" id="password1" class="form-control mt-1"
                                    placeholder="Ingresa tú contraseña" aria-describedby="helpId" 
                                    title="Debe contener mayúsculas, minúsculas, números y en total 8 o más caracteres."
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                            </div>
                            <div class="col-6">
                                Confirma tu contraseña
                                <input type="password" name="" id="password2" class="form-control mt-1"
                                    placeholder="Confirma tú contraseña" aria-describedby="helpId" 
                                    title="Debe contener mayúsculas, minúsculas, números y en total 8 o más caracteres."
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                Teléfono o Teléfono Celular
                                <input type="tel" name="" id="phone" class="form-control mt-1" placeholder="Ingresa tú teléfono o teléfono celular"
                                    aria-describedby="helpId" pattern="[0-9]{10}" title="El teléfono debe tener 10 digitos" required>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                Calle
                                <input type="text" name="" id="street" class="form-control mt-1" placeholder="Ingresa tu calle"
                                    aria-describedby="helpId" required>
                            </div>
                            <div class="col-6">
                                Ciudad
                                <input type="text" name="" id="city" class="form-control mt-1" placeholder="Ingresa tu ciudad"
                                    aria-describedby="helpId" required>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                Código Postal
                                <input type="number" name="" id="zip" class="form-control mt-1" placeholder="Ingresa tu código postal"
                                    aria-describedby="helpId" title="El código postal debe tener 5 digitos" required>
                            </div>
                            <div class="col-6">
                                Estado
                                <input type="text" name="" id="state" class="form-control mt-1" placeholder="Ingresa tu estado"
                                    aria-describedby="helpId" required>
                            </div>
                        </div>
                        <div class="btn-center">
                            <button type="button" class="btn btn-success mt-3"
                                data-dismiss="modal" id="registerButton">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Carrousel -->
    <div id="carouselId" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
            <li data-target="#carouselId" data-slide-to="1"></li>
            <li data-target="#carouselId" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active coffee">
                <div class="textInBanner">
                    <h4>Busca el café de tu preferencia</h4>
                    <h5>Con los criterios que desees</h5>
                </div>
                <img class="large-image" src="resources/coffeeItems/banner1.png" alt="First slide">
            </div>
            
            <div class="carousel-item">
                <div class="textInBanner">
                </div>
                <img class="large-image" src="resources/coffeeItems/Banner2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <div class="textInBanner">
                </div>
                <img class="large-image" src="resources/coffeeItems/Banner3.jpg" alt="Third slide">
            </div>
        
        </div>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Body -->
    <class class="items container" id="mainList">
        <div class="row">
            <div class="card">
                <a class="nav-link" href="search?tipoCafe=grano">
                <img class="card-img-top"
                    src="resources/coffeeItems/CafeG.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Café de grano</h4>
                </div>
            </a>
            </div>
            <div class="card">
                <a class="nav-link" href="search?tipoCafe=molido">
                    <img class="card-img-top"
                        src="resources/coffeeItems/CafeM.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Café Molido</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <a class="nav-link" href="search?tipoCafe=capsulas">
                    <img class="card-img-top"
                        src="resources/coffeeItems/CafeC.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Cápsulas</h4>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="nav-link" href="search?tipoCafe=instantaneo">
                    <img class="card-img-top"
                        src="resources/coffeeItems/CafeI.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Cafe instantáneo</h4>
                    </div>
                </a>
            </div>
        </div>
    </class>
    <!--FOOTER-->
    <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                    <div class="pr-xl-4"><a class="brand" href="#"></a>
                        <p>Creado con amor para las personas amantes del café.</p>
                        <!-- Rights-->
                        <p class="rights"><span>©  </span><span class="copyright-year">2021</span>
                            <span> </span><span>Company</span><span>
                                - </span><span>All Rights Reserved.</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>
                        Contacto
                    </h5>
                    <dl class="contact-list">
                        <dt>Dirección:</dt>
                        <dd>Anillo Perif. Sur Manuel Gómez Morín 8585, Santa María Tequepexpan, 45604 San Pedro
                            Tlaquepaque, Jal.</dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>Correo Electronico:</dt>
                        <dd><a href="mailto:coffee4home@gmail.com">coffee4home@gmail.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>Telefono(s):</dt>
                        <dd><a href="tel:+52 1 452 107 5541">+52 1 452 107 5541</a> <b>ó</b> <a href="tel:+52 1 33 1242">+52 1 33 1242
                                1332</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 col-xl-3">
                    <h5>Páginas</h5>
                    <ul class="nav-list">
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--<script src="../../controllers/index.js"></script>-->
    <script src="js/login.js"></script>
    <script src="js/register.js"></script>
    <script src="js/home.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>
</html>